  .wrapper {
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    padding: 5px;
    display: grid;
    grid-template-rows: 120px 80px auto;
    background-color: rgb(210, 232, 241);
  }

  .header {
    padding: 15px;
    font-size: 22px;
    display: grid;
    grid-template-columns: auto auto;
  }

  .header > #icons {
      text-align: right;
      padding-top: 25px;
      display: grid;
      grid-template-columns: auto 70px 70px 70px 70px;
  }

  .header > #logo {
      padding-left: 40px;
  }

  #icons > * {
    display: inline-block;
    padding: 16px;
  }

  #username{
    font-size: 14px;
    color: rgb(7, 146, 7);
  }

  .descriptif {
    display: grid;
    grid-template-columns: 1000px auto;
    grid-gap: 2px;
  }

  .descriptif > #groupe-actif-entete {
    background-color: rgb(95, 165, 149);
    padding: 12px;
    display: grid;
    grid-template-rows: 10px auto;
    grid-gap: 12px;
  }

  .descriptif > #liste-groupe-entete {
    background-color: rgb(95, 165, 149);
    padding: 12px;
    display: grid;
    grid-template-rows: 10px auto;
    grid-template-columns: auto auto;
    grid-gap: 12px;
  }
  
  .chat {
    display: grid;
    grid-template-columns: 1000px auto;
    grid-gap: 2px;
  }

  .chat > #groupe-actif {
      background-color: rgb(232, 248, 244);
    }

  .chat > #liste-groupe {
    background-color: rgb(232, 248, 244);
  }
  
  .smaller-text {
    color: white;
    font-size: 16px;
  }

  .bigger-text {
    color: white;
    font-size: 22px;
  }

  #options-liste {
    text-align: right;
    padding-top: 2px;
    font-size: 18px;
  }

  #options-liste > * {
      padding-right: 10px;
  }
