  #wrapper {
    width: auto;
    height: auto;
    min-width: 1100px;
    padding: 5px;
    display: grid;
    grid-template-rows: 120px 80px auto;
    background-color: rgb(210, 232, 241);
  }

  #header {
    padding: 15px;
    font-size: 24px;
    display: grid;
    grid-template-columns: auto auto;
  }

  #header > #icons {
      text-align: right;
      padding-top: 25px;
      display: grid;
      grid-template-columns: auto 70px 70px 70px 70px;
  }

  #header > #logo {
      padding-left: 40px;
  }

  #icons > * {
    display: inline-block;
    padding: 16px;
    color: rgb(80, 77, 77);
  }

  #username{
    font-size: 14px;
    color: rgb(7, 146, 7);
  }

  #descriptive {
    display: grid;
    grid-template-columns: auto 450px;
    grid-gap: 2px;
  }

  #descriptive > #active-group-header {
    background-color: rgb(95, 165, 149);
    padding: 12px;
    display: grid;
    grid-template-rows: 10px auto;
    grid-gap: 12px;
  }

  #descriptive > #group-list-header {
    background-color: rgb(95, 165, 149);
    padding: 12px;
    display: grid;
    grid-template-rows: 10px auto;
    grid-template-columns: auto auto;
    grid-gap: 12px;
  }
  
  #chat {
    display: grid;
    grid-template-columns: auto 450px;
    grid-gap: 2px;
  }

  #chat > #active-group {
    background-color: rgb(232, 248, 244);
    display: grid;
    grid-template-rows: 520px 50px auto;
  }
  
  #chat-area {
    padding: 30px;
    overflow: auto; 
  }

  #chat-area > .sent-message, .received-message{
    padding: 10px;
  }

  .received-message > * {
    padding: 5px;
  }
  
  #received-inner-text{
    padding: 15px;
    background-color: rgb(188, 210, 219);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
  }

  #received-inner-text-error {
    padding: 15px;
    background-color: rgb(209, 75, 75);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(53, 2, 2);
  }

  #received-inner-text-join {
    padding: 15px;
    background-color: rgb(147, 233, 130);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(2, 41, 5);
  }

  #received-inner-text-leave {
    padding: 15px;
    background-color: rgb(195, 197, 207);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
  }

  #received-name{
    color: rgb(117, 143, 153);
  }

  #received-date {
    font-style: italic;
    color: rgb(37, 40, 41);
    font-size: 15px;
    padding-left: 20px; 
  }

  .sent-message > * {
    text-align: right;
    padding: 5px;
  }

  #sent-inner-text{
    margin-left:auto; 
    margin-right:0;
    text-align: right;
    color: white;
    padding: 15px;
    background-color: rgb(52, 100, 190);
    border-radius: 100px;
    width: 350px;
    word-wrap: break-word;
  }

  #sent-date {
    font-style: italic;
    color: rgb(37, 40, 41);
    font-size: 15px;
    padding-right: 20px;
  }

  #text-area {
    text-align: center;
    background-color: rgb(95, 165, 149);
    display: grid;
    grid-template-columns: 100px auto 100px;
  }

  #text-area > i {
    padding-top: 16px;
    color: white;
    font-size: 24px;
  }

  #text-input {
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    border-color: rgb(232, 248, 244);
  }
  
  #channels-list {
    background-color: rgb(232, 248, 244);
    height: 570px;
    overflow: auto;
  }

  .group {
      height: 60px; 
      display: grid;
      grid-template-columns: 100px auto auto;
      font-size: 20px;
  }

  #star {
      text-align: center;
      padding-top: 22px;
      color: rgb(255, 136, 0);
  }

  .channel-icon {
    text-align: center;
    padding-top: 26px;
  }

  .color-plus {
    color: rgb(95, 165, 149);
  }

  .color-minus {
    color: rgb(255, 136, 0);
  }

  #minus {
    text-align: center;
    padding-top: 26px;
    color: rgb(255, 136, 0);
  }

  #group-name {
      font-size: 22px;
      padding-top: 20px;
      color: rgb(72, 72, 197); 
      padding-left: 30px;
  }

  #group-name > #group-text-default{
    padding-top: 5px;
  }

  #group-default {
    padding-top: 24px;
  }

  #group-text-default {
    background-color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1.5px solid rgb(5, 152, 211);
    border-radius: 12px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: rgb(5, 152, 211);
  }

  .chat > #active-group-header {
    background-color: rgb(232, 248, 244);
  }
    
  .smaller-text {
    color: white;
    font-size: 16px;
  }

  .bigger-text {
    color: white;
    font-size: 22px;
  }

  #list-options {
    text-align: right;
    display: block;
    padding-top: 2px;
  }

  #list-options > * {
      padding-right: 14px;
      color: white;
  }

  .light {
    background-color: rgb(208, 240, 230);
  }

  .dark {
    background-color: rgb(180, 224, 214);
  }

  .input {
    padding-top: 0;
    padding-left: 0;
  }

  #new-group {
    cursor: pointer;
  }

  #send-button {
    border: none;
    background-color: rgb(95, 165, 149);
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  }

  #send-button:hover {
    background-color: rgb(109, 190, 172);
    cursor: pointer;
  }

  .group:hover {
    background-color: rgb(150, 199, 188);
    cursor: pointer;
  }

  .fas, .far {
    cursor: pointer;
    display: initial;
  }

  #received-inner-text-error {
    padding: 15px;
    background-color: rgb(209, 75, 75);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(53, 2, 2);
  }

  #received-inner-text-join {
    padding: 15px;
    background-color: rgb(147, 233, 130);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(2, 41, 5);
  }

  #received-inner-text-leave {
    padding: 15px;
    background-color: rgb(195, 197, 207);
    border-radius: 100px;
    text-align: left;
    width: 350px;
    word-wrap: break-word;
    color: rgb(85, 85, 85);
  }
